body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
    object-fit: contain;
    /*-*/
}

ol {
    margin: 15px auto;
}