body {
    margin: 0;
}

.container {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}

img {
    border-radius: 50%;
    width: 150px;
}

#lemon {
    background-color: yellow;
}